{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{%block title%}
    
    {%endblock title%}
  </title>
  {% block style %}
  <meta content="" name="description">
  <meta content="" name="keywords">

 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 

  <!-- Vendor CSS Files -->
  
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{%endblock style%}
 
</head>

<body>

  <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Tubman High School</a><span><img src="{% static 'assets/img/staffs/Tubman-high-Logo.jpg'%}"></span></h1>
     
      <nav id="navbar" class="navbar">
        
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'index' %}">MCSS</a></li>
          <li><a class="nav-link scrollto" href="{% url 'tubmanhigh' %}">About-Us</a></li>
          <li><a class="nav-link scrollto" href="{% url 'tubman_admin' %}">Administration</a></li>
          <li><a class="nav-link scrollto" href="#">About-Us</a></li>
          <li><a class="nav-link scrollto" href="{%url 'Schedule'%}">Schedule</a></li>
          <li class="dropdown"><a href="#"><span>Portal</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Administration</span> <i class="bi bi-chevron-right"></i></a>
                <li class="dropdown"><a href="#"><span>Teachers</span> <i class="bi bi-chevron-right"></i></a>
                  <li class="dropdown"><a href="#"><span>Students</span> <i class="bi bi-chevron-right"></i></a>
              </li>          
            </ul>
          </li>
        
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  
<!-- ======= Hero The Sup Five stragegies goals Section ======= -->
{%block tubman-high-home-page%}
<!--tThis section contain information only for the home page of mcss-->

<!--end here-->
{% endblock tubman-high-home-page%}


{%block tubman-admin-page%}
<!--tThis section contain information only for the admin page of mcss-->

<!--end here-->
{% endblock tubman-admin-page%}


{%block Schedule-page%}
<!--tThis section contain information only for the admin page of mcss-->

<!--end here-->
{% endblock %}



    
  
  
  
  
  
  
  
  
  <!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact US</h2>
          <p></p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>12<sup>th</sup>Sinkor, Monrovia-Liberia</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>mcss@mcssliberia.org<span>|</span>
                <span>mcss@mcssliberia.org</span></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p><span>+231 0777023399 | 0770448724</span>
                
                </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            
              <div class="row gy-2 gx-md-3">
                
                <div class="form-group col-12">
                  <img src="{% static 'assets/img/Schools/Tubman.jpg' %}" class="img-fluid" alt="">
                </div>
            
              </div>
          

          </div>

        </div>

      </div>
      
    </section><!-- End Contact Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">


      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/McssLiberia" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/MCSS-Liberia-104607062106521" class="facebook"><i class="bx bxl-facebook"></i></a>
        <!-- <a href="" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
        <span>
          copyright &copy; <script>document.write(new Date().getFullYear())</script> Monrovia Consolidatd School System | Designed by Spencer Cooper
        </span>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>