{%extends 'schools/William-V.S.Tubman/tubman_nav_&_footer.html'%}
{%load static%}
{% block title %}Home|William V.S. Tubman High School{% endblock %}



{%block tubman-high-home-page%}

  <main id="main">

    
    <!-- ======= Portfolio Details Section for Tubman High ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{%static 'assets/img/tubman-high-school/Tubman-1.jpg' %}" alt="">
                </div>

                <div class="{%static 'swiper-slide">
                  <img src="{%static 'assets/img/portfolio/tubman-high.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{%static 'assets/img/tubman-high-school/tubman2.jpg' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>William V.S. Tubmanh High School</h3>
              <ul>
                <li><strong>First Called</strong>: Monrovia Jr. High School</li>
                <li><strong>Established</strong>: 1968</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Brief History of William V.S. Tubman High School</h2>
              <p>
                William V.S. Tubman High School was built & equipped through a joint partnership of the Government of Liberia and the San Francisco State College of the United States of America in 1967.
                The school was first called Monrovia Jr. High School but later renamed in honor of the 18th President of Liberia, Dr. William VS Tubman during the first graduation ceremony of the school in 1968.
                He was one of the best presidents of Liberia who served from his election in 1944 till his death in 1971.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->


{% endblock tubman-high-home-page%}


  
</body>

</html>