{% extends 'MCSSAPP/nav_footer.html' %}
{%load static%}
{%block title%}
About MCSS
{%endblock title%}

{%block about-mcss %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About MCSS</h2>
        <h3>Education Strengthens a Nation</h3>
      </div>

      <div class="row content">
        <div class="col-lg-6 pt-4 pt-lg-0">
          <img src="{% static 'assets/img/staffs/MCSS-Building.jpg' %}" class="img-fluid" alt=""> 
          <p></p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            The Monrovia Consolidated School System (MCSS) provides primary & secondary education to the population of Monrovia metropolitan area, Liberia.The MCSS was established by government in 1964 under the Act to Amend the Education Law to create the Monrovia Consolidated School System.
            The Monrovia Consolidated School System (MCSS) provides primary & secondary education to the population of Monrovia metropolitan area, 
            Liberia. The MCSS was established by government in 1964 under the Act to Amend the Education Law to create the Monrovia Consolidated
            School System. MCSS was created by a legislative enactment on December 24, 1964 to ensure proper and effective conduct 
            of schools in Monrovia & its environs in consonance with policies & regulations of the Ministry
            of Education. Prior to the creation of the (MCSS), schools in Monrovia were individually administered 
            by principals reporting directly to the Ministry of Education. The Memorandum of Understanding & the preliminary step to the establishment of the System was signed on 28, February 1963.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

   <!-- ======= Testimonials Section ======= -->
   <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Past & Present Superintdents</h2>
        </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Mr. Isaac Saye-Larkpor Zawolo, Present Superintendent November 24th, 2021 to Present.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/staffs/zawolo.jpg' %}" class="testimonial-img" alt="">
              <h3>Hon. Isaac Zawolo</h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End of all Superintendents slide -->




      <!-- ======= The Council Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>MCSS Council Member</h2>
          </div>
  
          <div class="row">
            <!-- Start here -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
              <div class="member">
                <div class="member-img">
                  <img src="{% static 'assets/img/staffs/zawolo.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Full Name</h4>
                  <p>Council Member</p>
                  <span></span>
                </div>
              </div>
            </div> 
            <!-- ===================== End here -->
          </div>
  
        </div>
      </section><!-- End Team Section -->

 
{%endblock about-mcss%}

